version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: keycloak-postgres
    restart: always
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"   # optional: only if you want external access from host

  keycloak:
    image: quay.io/keycloak/keycloak:26.4.6
    container_name: keycloak
    command:
      - start-dev
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak
      PROXY_ADDRESS_FORWARDING: "true"
    ports:
      - "8082:8080"
    depends_on:
      - postgres
    restart: always

volumes:
  postgres_data:
